<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

	<title>{{ project }} - {{ title }}</title>

	<style>
		{% if not hide_title %}
		main {
			margin-top: 1.5em;
			margin-bottom: 1em;
		}

		nav.navbar .navbar-brand {
			font-size: 2em;
		}
		{% endif %}

		input#submit {
			padding: 1em;
		}

		select[multiple] {
			height: auto !important;
		}

		textarea {
			min-height: 15em !important;
		}
	</style>
</head>
<body>
	{% if not hide_title %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container{% if fullwidth %}-fluid{% endif %}">
			<!--h1 class="navbar-brand">{{ project }} - {{ name }}</h1-->
			<span class="navbar-brand"> {{ title }}</span>
		</div>
	</nav>
	{% endif %}

	{% block content %}{% endblock %}

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>
